
# coding=utf-8
import roslib
from dynamic_reconfigure.parameter_generator_catkin import *
PACKAGE = "uam_message"  #功能包名
roslib.load_manifest(PACKAGE)
# 创建一个参数生成器
gen = ParameterGenerator()
# flag_land作为yaml参数是否加载判断
# 方便代码修改设置为：关节名_p，关节名_i，关节名_d
# 添加参数说明，便于后续生成界面
#             参数名           类型           等级       参数描述                       默认值        最小值         最大值
gen.add("land_pid_param",	  int_t,		0,		"作为Pid_set.yaml文件是否加载到参数服务器中,还有并保存的功能",			1,			0,		1)
gen.add("arm_joint1_p",		  double_t,		0,		"arm_joint1 KP param.",			0.0,			0,		100.00)
gen.add("arm_joint1_i",		  double_t,		0,		"arm_joint1 KI param.",			0.0,			0,		100.00)
gen.add("arm_joint1_d",		  double_t,		0,		"arm_joint1 KD param.",			0.0,			0,		100.00)
gen.add("arm_joint2_p",		  double_t,		0,		"arm_joint2 KP param.",			0.0,			0,		100.00)
gen.add("arm_joint2_i",		  double_t,		0,		"arm_joint2 KI param.",			0.0,			0,		100.00)
gen.add("arm_joint2_d",		  double_t,		0,		"arm_joint2 KD param.",			0.0,			0,		100.00)
gen.add("hand_left_joint_p", double_t,		0,		"hand_left_joint1 KP param.",	0.0,			0,		100.00)
gen.add("hand_left_joint_i", double_t,		0,		"hand_left_joint1 KI param.",	0.0,			0,		100.00)
gen.add("hand_left_joint_d", double_t,		0,		"hand_left_joint1 KD param.",	0.0,			0,		100.00)
# 调用生成器生成config配置文件
#                                   包名           节点名称    生成文件名
exit(gen.generate(PACKAGE, PACKAGE, "arm_pid"))