
# coding=utf-8
import roslib
from dynamic_reconfigure.parameter_generator_catkin import *
PACKAGE = "uam_message"  #功能包名
roslib.load_manifest(PACKAGE)
# 创建一个参数生成器
gen = ParameterGenerator()
# flag_land作为yaml参数是否加载判断
# 方便代码修改设置为：关节名_p，关节名_i，关节名_d
# 添加参数说明，便于后续生成界面
#             参数名           类型           等级       参数描述                       默认值        最小值         最大值
gen.add("uav_baselink_x",		  double_t,		0,		"控制无人机的x位置方向",		   	0.0,			-30,		30)
gen.add("uav_baselink_y",		  double_t,		0,		"控制无人机的y位置方向",			0.0,			-30,		30)
gen.add("uav_baselink_z",		  double_t,		0,		"控制无人机的z位置方向",			0.5,			-30,		30)
gen.add("arm_joint1_cmd",		  double_t,		0,		"arm_joint1的控制期望角度",			0.0,			-10,		10)
gen.add("arm_joint2_cmd",		  double_t,		0,		"arm_joint2的控制期望角度",			0.0,			-10,		10)
gen.add("arm_joint3_cmd",		  double_t,		0,		"arm_joint3的控制期望角度",			0.0,			-10,		10)
gen.add("hand_left_joint_cmd",	  double_t,		0,		"hand_left_joint1的控制期望角度",	0.0,			-10,		10)

# 调用生成器生成config配置文件
#                                   包名           节点名称    生成文件名
exit(gen.generate(PACKAGE, PACKAGE, "arm_cmd"))