
# coding=utf-8
import roslib
from dynamic_reconfigure.parameter_generator_catkin import *
PACKAGE = "uam_message"  #功能包名
roslib.load_manifest(PACKAGE)
# 创建一个参数生成器
# 作为动态规划调参的信息
gen = ParameterGenerator()
# 添加参数说明，便于后续生成界面
#             参数名           类型           等级       参数描述                       默认值        最小值         最大值
gen.add("uav_x_d",		  double_t,		0,		"控制无人机的x位置方向",		   	0.0,			-5,		5)
gen.add("uav_y_d",		  double_t,		0,		"控制无人机的y位置方向",			0.0,			-5,		5)
gen.add("uav_z_d",		  double_t,		0,		"控制无人机的z位置方向",			0.5,			0,		2)
gen.add("uav_yaw_d",		  double_t,		0,		"控制无人机的yaw方向",			0,			-90,		90)
gen.add("arm_joint1_cmd",		  double_t,		0,		"arm_joint1的控制期望角度",			0.0,			-180,		180)
gen.add("arm_joint2_cmd",		  double_t,		0,		"arm_joint2的控制期望角度",			0.0,			-180,		60)
gen.add("left_hand_joint_cmd",	  double_t,		0,		"left_hand_joint的控制期望角度",	0.0,			-15,		25)
gen.add("land_flag", bool_t, 0, "无人机降落标志,true降落", False)
# 调用生成器生成config配置文件
#                                   包名           节点名称    生成文件名
exit(gen.generate(PACKAGE, PACKAGE, "uam_cmd"))