
# coding=utf-8
import roslib
from dynamic_reconfigure.parameter_generator_catkin import *
PACKAGE = "linux_serial"  #功能包名
roslib.load_manifest(PACKAGE)
# 创建一个参数生成器
gen = ParameterGenerator()
# 添加参数说明，便于后续生成界面
#             参数名    类型               等级       参数描述             默认值        最小值         最大值
gen.add("joint1_angle",		double_t,		0,		"arm_joint1 KP param.",			0.0,			-180,		180)
gen.add("joint2_angle",		double_t,		0,		"arm_joint1 KI param.",			0.0,			-180,		10)
gen.add("joint3_angle",		double_t,		0,		"arm_joint1 KD param.",			0.0,			-15,		25)
# 调用生成器生成config配置文件
#                                   包名           节点名称    生成文件名
exit(gen.generate(PACKAGE, PACKAGE, "Angle_set"))#这里的PIDS会生成PIDSConfig.py和PIDSConfig.h，编译后