<?xml version="1.0"?>
<launch>
    <rosparam file="$(find uam_message)/config/arm_info_init.yaml" command="load" />
    <!-- 启动 rqt_gui -->
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args="-s rqt_reconfigure" output="screen">
        <env name="ROS_NAMESPACE" value=""/>
        <param name="use_sim_time" type="bool" value="false"/>
    </node>

    <node pkg="arm_control" type="dynamic_angle" name="dynamic_angle"  output="screen"/>
    <!-- <node pkg="arm_control" type="arm_B_dh.py" name="arm_B_dh"  output="screen"/> -->
    <node pkg="arm_control" type="serial_" name="serial1"  output="screen"/>
</launch>